.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal pre code {
  font-size: 120%;
  line-height: 120%;

  background-color: #f6f8fa;
  color: #24292e;
}

